body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 20px;
    height: 30px;
}

.banner {
    background-color: aqua;
    padding: 50px;
}

.outer {
    border: lightgray;
    border-width: 2px;
    border-style: solid;
}

.body {
    padding-bottom: 10px;
    margin-left: 30px;
}

.name {
    margin-top: 55px;
    margin-bottom: 0px;
}

.location {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 0px;
}

.edit-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    color: blue;
    text-decoration: underline;
}

#profile-pic {
    width: 100px;
    height: initial;
    position: fixed;
    top: 7%;
    left: 30px;
    border: white;
    border-width: 5px;
    border-radius: 50%;
    border-style: solid;
}