.row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.col {
    flex: 1;
    padding: 20px;
    background-color: cyan;
}

.col-2 {
    flex: 2;
    padding: 20px;
    background-color: cyan;
}
.col-3 {
    flex: 3;
    padding: 20px;
    background-color: cyan;
}