.container {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
    display: inline-block;
}
.top-nav {
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-top: 20px;
    display: inline-block;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    padding: 10px;
    margin: 10px;
}

