@model ProductCategory

<form asp-controller="ProductCategory" asp-action="AddProductCategory">
    <input type="hidden" asp-for="CategoryId" value="@Model.CategoryId">
    <select asp-for="CategoryId">
        @foreach (Product product in ViewBag.Products) {
            <option value="@product.ProductId">@product.Name</option>
        }
    </select>
    <button class="btn btn-outline-dark" type="submit">Add</button>
</form>