@model List<Category>
@{
    ViewData["Title"] = "Categories";
}

<div class="mt-5 d-flex justify-content-around align-items-top text-center">
    <div>
        <h3>New Category</h3>
        @await Html.PartialAsync("_NewCategory", new Category())
    </div>
    <div>
        <h3>All Categories</h3>
        @foreach (Category category in Model) {
            <a asp-controller="Category" asp-action="ViewCategory" asp-route-CategoryId="@category.CategoryId"><p>@category.Name</p></a>
        }
    </div>
</div>