@model Category
@{
    ViewData["Title"] = "View Product";
}

<div class="text-center">
    <h3>@Model.Name</h3>
    <div class="d-flex justify-content-around align-items-top">
        <div>
            <h4>Products</h4>
            @foreach (ProductCategory pc in Model.CategoryProducts) {
                <p>@pc.Product.Name</p>
            }
        </div>
        <div>
            <h4>Add Products</h4>
            @await Html.PartialAsync("_AddProduct", new ProductCategory(){CategoryId = Model.CategoryId})
        </div>
    </div>
</div>