<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="d-flex justify-content-center align-center">
        {% if condition == 'none' %}
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        {% endif %}

        {% if condition == 'number' %}
        {% for i in range (0, number) %}

        <div class="box"></div>

        {% endfor %}
        {% endif %}

        {% if condition == 'bg_color' %}
        {% for i in range (0, number) %}

        <div class="box" style="background-color: {{bg_color}};"></div>

        {% endfor %}
        {% endif %}

    </div>
</body>
</html>