@{
    ViewData["Title"] = "Home Page";
    Layout = "_LoginLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Register or Login below!</h1>

    <div class="row">
        @await Html.PartialAsync("_Register", new User())
        @await Html.PartialAsync("_Login", new LogUser())
    </div>

</div>
