h1 {
    color: white;
    background-color: black;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h2 {
    color: white;
    background-color: purple;
    text-align: center;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

h3 {
    color: black;
    background-color: deepskyblue;
    text-align: right;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

#blue {
    color: aqua;
}