* {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 3% 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.box {
    border: 3px solid black;
    padding: 20px;
    width: 60%;
}

.top-bar {
    margin-bottom: 20px;
}

.likes {
    gap: 40px;
}

.like-button {
    padding: 5px 15px;
    box-shadow: 3px 3px black;
    border: 2px solid black;
    background-color: #FFC000;
}