* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    margin-top: 20px;
    background-color: black;
    height: 2px;
}

img {
    border-radius: 50%;
}

button {
    padding: 5px 10px;
}

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.box {
    line-height: 2;
    text-align: center;
    padding: 10px 15px;
    background-color: lightgray;
}

.high {
    color: red;
}

.low {
    color: blue;
}

#head {
    background-color: #89CFF0;
    color: white;
    padding: 15px 10%;
}

#body {
    margin: 25px 10%;
}

#locations {
    gap: 25px;
}

#forecast {
    margin-top: 20px;
    gap: 1%;
}

#cookies {
    position: fixed;
    bottom: 15px;
    margin: 0px 10%;
    padding: 5px 15px;
    gap: 40px;
    border: 3px solid black;
}