<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>First View Page</title>
    </head>
    <body>
        <h1>Hello From the First View Page! 🎃</h1>

        @{
            List<string> FavFoods = new List<string>(){"sushi", "steak", "tacos", "udon"};
            foreach(string food in FavFoods) {
                <p>@food</p>

                if (food == "tacos") {
                    <p>Nobody tell Shawn there are tacos</p>
                }
            }
        }
        <hr>
        @{
            bool answer = true;
            <p>@(answer ? "Yes" : "No")</p>
        }

        <img src="~/imgs/redpanda.jpg" alt="test" width="400px">

    </body>
</html>