@model Pet

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Post about your pet!</h1>
    <form asp-controller="Home" asp-action="SubmitPet" method="post">
        <div class="my-2">
            <label asp-for="Name">Name: </label>
            <input asp-for="Name">
            <br>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="my-2">
            <label asp-for="Type">Type: </label>
            <input asp-for="Type">
            <br>
            <span class="text-danger" asp-validation-for="Type"></span>
        </div>
        <div class="my-2">
            <label asp-for="Age">Age: </label>
            <input asp-for="Age">
            <br>
            <span class="text-danger" asp-validation-for="Age"></span>
        </div>
        <div class="my-2">
            <label asp-for="FavoriteFood"></label>
            <input asp-for="FavoriteFood">
        </div>
        <button class="btn btn-outline-dark my-2" type="submit">Submit</button>
    </form>
</div>
