body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    width: 200px;
}

div {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-bottom: 20px;
}

#blue {
    background-color: aqua;
    padding: 20px;
    justify-content: space-between;
}

#pink {
    background-color: palevioletred;
    padding: 20px;
    justify-content: space-evenly;
}

#white {
    background-color: white;
    padding: 20px;
    justify-content: space-between;
}

