<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals</title>
</head>
<body>
    {{animals.name}}
    <form action="/add_animal" method="post">
        <div>
            <label for="breed">Breed</label>
            <input type="text" name="breed" id="breed">
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="age">Age</label>
            <input type="text" name="age" id="age">
        </div>
        <div>
            <label for="fav_food">Favorite Food</label>
            <input type="text" name="fav_food" id="fav_food">
        </div>
        <button>Add Animal</button>
    </form>
</body>
</html>