@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h2>Welcome!</h2>
        <form action="/submit" method="post">
            <label for="Name"><h5>Please give your name:</h5></label>
            <br>
            <input type="text" name="Name" id="Name">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
