* {
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    flex: 1;
    padding: 4%;
}

.row {
    height: auto;
    width: auto;
}

#red {
    margin-top: 10px;
    background-color: red;
    color: red;
}

#orange {
    background-color: orange;
    color: orange;
}

#yellow {
    background-color: yellow;
    color: yellow;
}

#green {
    background-color: green;
    color: green;
}

#blue {
    background-color: blue;
    color: blue;
}

#purple {
    background-color: purple;
    color: purple;
}



