button {
    display: block;
    margin-bottom: 10px;
}

div {
    padding: 20px;
}

.search {
    border-color: aqua;
    width: 12%;
    border-radius: 10px;
}

.add {
    background-color: aquamarine;
    border: none;
    border-radius: 50%;
    font-size: 40px;
    height: 50px;
    width: 50px;
    color: white;
}

.create-account {
    background-color: blue;
    box-shadow: 3px 3px black;
    border-color: black;
    border-width: 2px;
    width: 17%;
    color: white;
}