@model LogUser

<form asp-action="LoginUser" asp-controller="User" method="POST" class="col-6">

    <h2>Log In</h2>
    <div class="form-group">
        <label asp-for="LogEmail"></label>
        <input asp-for="LogEmail" class="form-control">
        <span asp-validation-for="LogEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LogPassword"></label>
        <input asp-for="LogEmail" class="form-control">
        <span asp-validation-for="LogPassword" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Log In</button>
</form>